.servicoSection{
    width: 100vw;
    height: 140vh;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
}

.cabecalho-servicos{
    margin-left: 11vw;
    display: flex;
    flex-direction: column;
}

.cabecalho-servicos h1{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    margin-top: 11vh;
}

.cabecalho-servicos p{
    width: 80%;
    font-family: Lato;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-top: 30px;

}

.carrossel{
    width: 90%;
    height: 65vh;
    align-self: center;
    margin-top: 90px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.itens-carrossel{
    width: 4000px;
    height: 65vh;
    display: flex;
    transition: transform 0.5s ease;
}

.infoproduto{
    width: 35vw;
    height: 100%;
    margin-right: 30px;
    background-image: url(../imgs/servico/foto2.svg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 20px;
}

.infoproduto img{
    width: 100%;
    height: 100%;
}

.infoproduto p{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    align-self: flex-end;
    margin-bottom: 40px;
    margin-left: 20px;

}

.ultimo-infoproduto{
    margin-right: 0px;
}

.seta-carrossel{
    width: 16px;
    height: 32px;
    position: absolute;
    cursor: pointer;
}

.seta-direita{
    left: 94vw;
}

#produto2{
    background-image: url(../imgs/servico/foto3.svg);
}

#produto3{
    background-image: url(../imgs/servico/foto4.svg);
}

#produto4{
    background-image: url(../imgs/servico/foto5.svg);
}

@media (max-width: 700px){

    .cabecalho-servicos{
        margin-left: 24px;
    }

    .cabecalho-servicos h1{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        text-align: left;
    }

    .cabecalho-servicos p{
        width: 95%;
        font-family: Lato;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;

    }

    .infoproduto{
        width: 90vw;
        border-radius: 20px;
    }

    .carrossel{
        margin-top: 20px;
    }

    .infoproduto p{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;

    }
}